* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main_container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 36px 60px 48px 60px;
  justify-content: center;
  margin: 36px;
}

.sub_container_1 {
  display: flex;
  width: 30%;
}

.pic {
  width: 100%;
  border-radius: 40px;
  box-shadow: 30px 30px 0px blue;
}

.sub_container_2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 48px;
  justify-content: center;
  padding: 36px;
}

.sub_container_2 h1 {
  font-size: xx-large;
}

.sub_container_2 p {
  font-size: large;
  font-weight: bold;
}

.sub_container_2 button {
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightskyblue;
  width: 40%;
  height: 10%;
  font-size: large;
  font-weight: bold;
  box-shadow: 5px 5px 0 black;
}
